<md-input-container>
  <input mdInput placeholder="Name:" [(ngModel)]="newHolop.name">
</md-input-container>
<md-input-container>
  <input mdInput placeholder="Master:" [(ngModel)]="newHolop.master">
</md-input-container>
<md-input-container>
  <input mdInput placeholder="Rent From:" [(ngModel)]="newHolop.rentTo">
</md-input-container>
<md-input-container>
  <input mdInput placeholder="Rent To:" [(ngModel)]="newHolop.rentFrom">
</md-input-container>
<button md-raised-button color="primary" (click)="add()">Add</button>
<app-counter></app-counter>
<app-holop *ngFor="let theholop of holops" [holop]="theholop" (deleteHolop)="delete(theholop)"></app-holop>
